@import './normalize.css';
@import './font.css';
@import './variables.css';

.mainWrapper {
  --side-gap: 92px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  '. wrapper1 .'
  '. wrapper2 .'
  '. wrapper3 .';
  grid-template-columns: var(--side-gap) 1fr var(--side-gap);
  font-family: var(--f-reg);
  color: var(--c-midnight);
}

.wrapper {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper--1 {
  grid-area: wrapper1;
}

.wrapper--2 {
  grid-area: wrapper2;
}

.wrapper--3 {
  grid-area: wrapper3;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 22px 32px;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  line-height: 20px;
  background: var(--c-ozon-blue);
  color: var(--c-white);
  outline: none;
  cursor: pointer;

  transition: 300ms 30ms ease-in;
}

.button--alt {
  color: var(--c-dark-space);
  background: var(--c-cadet-blue);
}

.button:not(.button--alt):hover {
  background: var(--c-ozon-dodger-blue);
  color: var(--c-midnight);
}

.button--alt:hover {
  transform: scale(2) rotate(180deg);
}

.image {
  max-width: 300px;
  max-height: 300px;
}

.image--frog {
  animation: dance 2s ease-in infinite;
  /* animation: peepodance 1s ease-in-out infinite alternate forwards; */
}

.image--frog:hover {
  animation-play-state: paused;
}

@keyframes dance {
  0% {
    margin-right: 0;
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  25% {
    margin-right: 200px;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    margin-right: -200px;
    transform: scale(0.8);
  }
  100% {
    margin-right: 0;
    transform: scale(1);
  }
}

@keyframes peepodance {
  0% {
    margin-right: 0;
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    margin-right: -100px;
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    margin-right: 100px;
    transform: scale(1);
  }
}